@import "_vars";
@import "_mixin";

.section {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

#mainVisual {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  .inner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .section {
      .titleBox {
        width: 1280px;
        display: block;
        position: absolute;
        top: 30%;
        .calendar {
          display: flex;
          font-size: 18px;
          color: rgb(83, 83, 83);
          justify-content: center;
          margin: 10px 50px;

          li {
            padding: 0 30px;
          }
        }
        .grassBox {
          width: 1280px;
          height: auto;

          justify-content: center;
          align-items: center;
          display: flex;

          .grassCol {
            display: flex;
            flex-direction: column;
            .grass {
              content: "";
              width: 20px;
              height: 20px;
              border-radius: 5px;
              margin: 5px;
            }
            .grassColor01 {
              border: 3px solid $grass01-bdcolor;
            }
          }
        }
      }
    }
  }
}
